.modal {
  &-content { background-color: white; box-shadow: none; border-radius: 0px; border: 0; }
  &-dialog { margin-left: 25.3rem; margin-top: 6.5rem; margin-bottom: 0; }
  &-lg { width: inherit; }
  &-backdrop { bottom: 0; position: fixed; top: 6.5rem; }
}

// - Primarily used in modals for user prompts and information
// - 'middle' is optional
.line-wrapper { display: flex; align-items: center;
  &.centered { justify-content: center; }
  &.spaced { justify-content: space-between; }
  &.pinned-right { justify-content: flex-end; }
  &.bottom { align-items: flex-end; }
  &.list-item { margin-bottom: 1.3rem; }
  &.only-control { height: 100%; }
  .left { flex: 4; text-align: right; }
  .left-basic { text-align: right; }
  .middle { flex: 0.5; text-align: center; }
  .right { flex: 4; }
  .left ~ .right { margin-left: 1.3rem; }
  .left-basic ~ .right-basic { margin-left: 1.3rem; }
}
.question { min-height: 8rem;
  .multiple-question-element ~ .multiple-question-element { margin-left: 1.3rem; }
  .dropdown { background-color: $blue-05; border: 1px solid $blue-25; display: inline-block; }
  h2 { font-size: 2rem; text-transform: uppercase; font-weight: 400; letter-spacing: 0.05rem; }
  h5 { font-size: 1.4rem; font-weight: 500; text-transform: uppercase; margin: 0; }
  p { font-size: 1.4rem; font-weight: 400; margin: 0; }
  textarea { width: 100%; font-size: 1.2rem; font-family: $slim; }
}
.bttn-set { @extend .line-wrapper; flex-wrap: wrap; }
.bttn { background-color: $blue-05; border: 1px solid $blue-05;
  & ~ & { border-left: 1px solid $blue-25; margin-left: 0; }
  &[disabled], &.disabled { opacity: 0.25; border: 1px solid $blue-50; }
  &[disabled] ~ &[disabled], &.disabled ~ &.disabled { border-left: none; }
  &:hover:not([disabled]) { background-color: $blue-25; cursor: pointer; }
  &.active:hover { background-color: $blue-75; box-shadow: 0 0.3rem 0 $black-05; cursor: default; color: white; }
  &.active { background-color: $blue-75; color: white; }
  &.active + & { border-left: 1px solid Transparent; }
}
.question.tiny { min-height: 3rem; }
.question.small { min-height: 4rem; }
.question.medium {min-height: 6rem;}
.question.centered { text-align: center; }
.question.parent {margin-bottom: -1rem;}

// Used only in Add references (customAnnotationModal)
.big textarea { max-height: 25vh; margin: 1.3rem 0 2.6rem; }

.popover { font-family: "Source Sans Pro", sans-serif; max-width: 50vw; padding: 0; border: none; box-shadow: 0 0.3rem 0.3rem $black-25; z-index: 1600; }
.popover, .popover * { border-radius: 0; }
.popover .popover-title { @extend .slim; @extend .title; @extend .upper; background-color: $white; color: $black-75;
                          font-weight: 600; font-size: 1.4rem !important; border: none; border-bottom: 1px solid $black-05;
                          padding-bottom: 0.2rem; padding-top: 0.3rem}
.popover-content {padding-top: 0.3rem}
.popover-content * { @extend .slim; color: $black-75; font-size: 1.3rem !important;}
.popover-content .gpv_override { color: $red; }
.popover-list { list-style-type: none; max-width: 50vw; }
.popover-list.indented { margin-left: 1.3rem; }
.acmg-notes { margin-left: 2.6rem; }
.popover h3.p-title { font-weight: 700; font-size: 1.4rem; color: $black-75;  margin: 0.7rem 0; }

.acmg-popover {
  h3 { font-weight: 700; font-size: 1.4rem; color: $black-75;  margin: 0.7rem 0; }
  p { font-weight: 400; margin: 0; word-wrap: break-word; word-break: break-word; font-size: 1.4rem; }
}
.acmg-selection aside { margin-top: 3.9rem; }
.acmg-selection aside ~ aside { margin-top: 5.2rem; }

@keyframes slide-from-left { from { left: -34rem; } to { left: 0rem; } }
@keyframes slide-to-left { from { left: 0rem; } to { left: -34rem; } }
.popover.left { margin: 0; top: 6.5rem !important; bottom: 0 !important; left: 0 !important; position: fixed; overflow: scroll; width: 34rem; will-change: left; }
.popover.left.in-add { animation: slide-from-left; animation-delay: 0s; animation-duration: 0.6s; animation-fill-mode: forwards; }
.popover.left.in-remove { animation: slide-to-left; animation-delay: 0s; animation-duration: 0.3s; animation-fill-mode: forwards; }
.popover.left.fade, .popover.left.fade-add, .popover.left.in-remove { opacity: 1; display: block; visibility: visible; }

.reference, .reference .control { display: flex; align-items: center; justify-content: space-between; }
.reference .control { padding-left: 0.7rem; }

.pagination { @extend .bttn-set; list-style: none;
  li { @extend .bttn; padding: 0; }
  li.disabled:hover { cursor: default; background-color: inherit; box-shadow: 0 0.3rem 0 $black-05; }
  li.disabled a:hover { cursor: default; }
  li a { border-bottom: none; padding: 0.25rem 0.75rem; padding-top: 0.4rem; display: block; }
  li a:hover {  }
}
.pagination * { border-radius: 0 !important; }

.allele-control-bar { margin-bottom: 1.3rem; }
.allele-info { @extend nav.top; position: static; color: $purple; background-color: Transparent; width: calc(100% - 13rem); flex-direction: column; height: auto; padding: 0;
  &.included { color: $blue; }
  .clickable { border-color: inherit; }
  aside { width: 100%; }
}

.reference-eval-popover {
  max-width: 30vw;
}
